<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <div class="row">
        <h3 class="col-md-9">Your Addresses:</h3>
        <a href="/create-address" class="col-md-3"><button type="button" class="btn btn-primary float-right">+ Add New Address</button></a>
      </div>
      <div class="row">
        <div *ngFor="let address of this.addresses">
          <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{address.district}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{address.city}}</h6>
              <p class="card-text">{{address.district + ", " + address.city + ", " + address.street}}</p>
              <a href="/update-address/{{address.id}}"><button (click)="editAddress(address.id)" type="button" class="btn btn-warning">Edit</button></a>
              <a href="/address"><button (click)="deleteAddress(address.id)" type="button" class="btn btn-danger float-right">Delete</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
