<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <h3>Addresses:</h3>
      <ul class="list-group list-group-flush">
        <li *ngFor="let address of this.user.addresses" class="list-group-item">
          {{ address.district }},{{ address.city }},{{ address.street }}
          <span *ngIf="address.additionalInfo">
            , {{ address.additionalInfo }}
          </span>
        </li>
      </ul>

      <h3>Email:</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
         {{this.user.email}}
        </li>
      </ul>

      <h3>Phone:</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item ">
          {{this.user.phone}}
        </li>
      </ul>

      <h3>Cars:</h3>
      <ul class="list-group list-group-flush">
        <li *ngFor="let car of this.user.cars" class="list-group-item">
          {{ car.color + ' ' + car.manufacturer + ' ' + car.model + ' ' + car.year }}
        </li>
      </ul>
    </div>
  </div>
</div>
